@media only screen and (min-width:768px) and (max-width:979px){

.recreate-section .recreate-section-content .field--name-field-recreate-content {
    padding: 0px 0px;
}

.recreate-section .recreate-section-content .field--name-field-upload-icon {
    width: 16%;
    margin-right: 4%;
}

.recreate-section .recreate-section-content .field--name-field-recreate-content > .field--item {
    margin-top: 10px;
    padding: 0px 15px 20px;
}

.view-package-list .views-col {
    padding: 0px 10px;
    text-align: center;
}

.view-package-list .views-col .package-price-box .package-price-amount {
    font-size: 55px;
    line-height: 60px;
}

#banner_area {
    padding: 50px 0px;
}

#banner_bottom_area {
    padding-top: 30px;
	padding-bottom: 30px;
}

#intro_area {
    padding: 50px 0;
}

#news_letter {
    padding: 80px 0px 80px;
}

.block-views-blockpackage-list-block-1 {
    padding-top: 50px;
}

.view-package-list {
    padding: 30px 0 50px;
}

#partner_area {
    padding: 50px 0 50px;
}

#testimonials_area {
    padding: 50px 0 50px;
}

#contact_information {
    padding: 60px 0 60px;
}

.contact_address .block ul li i {
    width: 25px;
    display: initial;
    float: left;
}

.contact_address .block ul li span {
    width: auto;
    padding-left: 40px;
    display: inherit;
}

#footer {
    padding: 30px 0 30px;
}

}


@media only screen and (min-width:980px) and (max-width:1280px){

.view-package-list .views-col .package-price-box .package-price-amount {
    font-size: 70px;
}


}

@media only screen and (min-width:768px) and (max-width:1170px){

.container {
    width: 100%;
	padding: 0px 15px;
}

.optimize-performance-right-box .field--name-field-title {
	font-size: 40px;
    font-weight: 300;
    line-height: 1.1em;
}

}
